.collection-panel {
  height: 300px;
}

.collection-panel-title {
  text-align: center;
  font-weight: bold;
  font-size: 140%;
  text-transform: uppercase;
}

.collection-panel-content {
  position: relative;
  display: inline-block;
}
