<mat-toolbar id="header" color="primary" class="top-bar">
  <mat-toolbar-row class="mat-elevation-z8">
     <button mat-icon-button><i class="material-icons">reply</i></button>

    <div class="header-title">
      <div class="header-title">Section-Title</div>
    </div>

    <span class="toolbar-spacer"></span>

    <div>
      <button mat-icon-button [matMenuTriggerFor]="account">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #account="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
