<div class="mainmenu">
  <div class="mainmenu-option btn-selected" routerLink="/library">
    <ion-card>
      <ion-card-header>
        <ion-card-title>DATA LIBRARY</ion-card-title>
      </ion-card-header>
      <ion-card-content>This is the place to put all your data</ion-card-content>
    </ion-card>
  </div>
  <div class="mainmenu-option btn-selected" routerLink="/vizard">
    <ion-card>
      <ion-card-header>
        <ion-card-title>DATA VIZARD</ion-card-title>
      </ion-card-header>
      <ion-card-content>This is the place to to view an organize your Visualizations</ion-card-content>
    </ion-card>
  </div>
  <div class="mainmenu-option btn-selected" routerLink="/profile">
    <ion-card>
      <ion-card-header>
        <ion-card-title>PROFILE</ion-card-title>
      </ion-card-header>
      <ion-card-content>This is the place to tweek your personal information</ion-card-content>
    </ion-card>
  </div>
  <div class="mainmenu-option btn-selected" routerLink="/options">
    <ion-card>
      <ion-card-header>
        <ion-card-title>OPTIONS</ion-card-title>
      </ion-card-header>
      <ion-card-content>This is the place to make settings depending PWA and other services</ion-card-content>
    </ion-card>
  </div>
</div>
