<div class="mainmenu">
  <div class="mainmenu-option btn-selected" routerLink="/library">
    <mat-card>
      <mat-card-title>DATA LIBRARY</mat-card-title>
      <mat-card-content>This is the place to put all your data</mat-card-content>
    </mat-card>
  </div>
  <div class="mainmenu-option btn-selected" routerLink="/vizard">
    <mat-card>
      <mat-card-title>DATA VIZARD</mat-card-title>
      <mat-card-content>This is the place to to view an organize your Visualizations</mat-card-content>
    </mat-card>
  </div>
  <div class="mainmenu-option btn-selected" routerLink="/profile">
    <mat-card>
      <mat-card-title>PROFILE</mat-card-title>
      <mat-card-content>This is the place to tweek your personal information</mat-card-content>
    </mat-card>
  </div>
  <div class="mainmenu-option btn-selected" routerLink="/options">
    <mat-card>
      <mat-card-title>OPTIONS</mat-card-title>
      <mat-card-content>This is the place to make settings depending PWA and other services</mat-card-content>
    </mat-card>
  </div>
</div>
