.mainmenu {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 549px) {
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
  }
  @media (min-width: 550px) {
    width: 80%;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    top: 100px;
    margin: 0 10%;
  }
}

.mainmenu-option {
  flex-grow: 1;
  margin: 30px 30px 30px 30px;
}

.btn-selected {
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  background-color: #4a69bd;
  border: none;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

.btn-selected:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #4a69bd;
  color: #000;
}

.btn-selected:after {
  content: '';
  background: #4a69bd;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.btn-selected:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.btn-selected:focus {
  outline: 0;
}

.spacer {
  @media (max-width: 549px) {
    height: 20px;
    width: 100%;
  }
}
