.collection-panel-title {
  text-align: center;
  font-weight: bold;
  font-size: 140%;
  text-transform: uppercase;
  overflow: hidden;
}

.collection-panel-description {
  position: relative;
  display: block;
  width: 100%;
  margin: 15px 0;
}

.collection-panel-stats {
  margin: 15px 0;
  position: relative;
  display: block;
  width: 100%;
}

.created-timing {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px;
}

.card-content {
  margin-bottom: 55px;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.viz-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}
