.collection-panel {
  height: 300px;
}

.collection-panel-title {
  text-align: center;
  font-weight: bold;
  font-size: 140%;
  text-transform: uppercase;
}

.collection-panel-description {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 2px solid black;
}

.collection-panel-stats {
  position: relative;
  display: inline-block;
  width: 55%;
}

.created-timing {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px 25%;
}
