.login-card {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  margin-bottom: 100px !important;
  max-height: 500px;
  max-width: 800px;
}

::ng-deep .input-namepass {
  width: 100% !important;
}

