<div class="mainmenu">
  <div class="mainmenu-option">
    <mat-card>
      <mat-card-title>Data Input</mat-card-title>
      <mat-card-content>This is the place to put all your data</mat-card-content>
    </mat-card>
  </div>
  <div class="mainmenu-option">
    <mat-card>
      <mat-card-title>Data Input</mat-card-title>
      <mat-card-content>This is the place to put all your data</mat-card-content>
    </mat-card>
  </div>
  <div class="mainmenu-option">
    <mat-card>
      <mat-card-title>Data Input</mat-card-title>
      <mat-card-content>This is the place to put all your data</mat-card-content>
    </mat-card>
  </div>
  <div class="mainmenu-option">
    <mat-card>
      <mat-card-title>Data Input</mat-card-title>
      <mat-card-content>This is the place to put all your data</mat-card-content>
    </mat-card>
  </div>
</div>
