<div class="login-card">
  <ion-card>
    <div *ngIf="isLoginScreen">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-card-header>
          <ion-card-title style="text-align: center">Login</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="login-form">
            <ion-input class="input-namepass" placeholder="Your username" type="text" formControlName="username"></ion-input>
            <br />
            <ion-input class="input-namepass" placeholder="Your password" type="password" formControlName="password"></ion-input>
          </div>
          <div>
            <ion-button size="small" expand="block" type="submit" color="primary">Log me in</ion-button>
          </div>
        </ion-card-content>
      </form>
    </div>

    <div *ngIf="!isLoginScreen">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-card-header>
          <ion-card-title style="text-align: center">Register yourself</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="login-form">
            <ion-input class="input-namepass" placeholder="Your username" type="text" formControlName="username"></ion-input>
            <br />
            <ion-input class="input-namepass" placeholder="Your password" type="password" formControlName="password"></ion-input>
            <br />
            <ion-input class="input-namepass" placeholder="Your email" type="text" formControlName="email"></ion-input>
          </div>
          <div>
            <ion-button size="small" expand="block" type="submit" color="primary">Register me</ion-button>
          </div>
        </ion-card-content>
      </form>
    </div>

    <ion-button size="small" color="medium" (click)="isLoginScreen = !isLoginScreen">{{
      isLoginScreen ? 'Register an account' : 'Login with existing account'
    }}</ion-button>
    <ion-button *ngIf="isLoginScreen" style="float: right" size="small" type="button" color="light" (click)="forgotPassword()">Forgot my password</ion-button>
  </ion-card>
</div>
