.dataset-input {
  width: 100%;
}

.action-buttons {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.selection-section {
  display: flex;
  flex-wrap: wrap;
  mat-form-field {
    width: 100%;
  }
}

.add-option-button {
  margin: auto;
}
