#header {
  position: fixed;
  top: 0;
}

.top-bar {
  position: fixed;
  width: 100%;
  z-index: 99997;
}

.header-title {
  position: relative;
  width: 100%;
  text-align: center;
}

.header-hover {
  margin: 0 10px;
  background-color: #4a69bd;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.toolbar-menu {
  z-index: 99998;
}
