#header {
  position: fixed;
  top: 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.narrow {
  height: 5px;
  padding: 0;
}

.top-bar {
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.header-title {
  position: relative;
  width: 100%;
  text-align: center;
}

.header-hover {
  &:hover {
    cursor: pointer;
  }
}
