<mat-toolbar id="header" color="primary" class="top-bar">
  <mat-toolbar-row class="mat-elevation-z8">
    <ion-icon size="large" (click)="navigateBackButton()" name="arrow-back-outline"></ion-icon>
    <div class="header-title">
      <div class="header-title">{{ title }}</div>
    </div>

    <span class="toolbar-spacer"></span>

    <div>
      <button mat-icon-button [matMenuTriggerFor]="account">
        <ion-icon size="large" name="person-circle-outline"></ion-icon>
      </button>
      <mat-menu #account="matMenu">
        <button mat-menu-item (click)="logout()">
          <ion-icon name="exit-outline"></ion-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
