<ion-toolbar id="header" class="top-bar" color="primary">
  <ion-icon slot="start" class="header-hover" size="large" (click)="navigateBackButton()" name="arrow-back-outline"></ion-icon>
  <ion-title class="header-title">{{ title }}</ion-title>
  <div slot="end">
    <button class="header-hover">
      <ion-icon [matMenuTriggerFor]="account" size="large" name="person-circle-outline"></ion-icon>
    </button>
    <mat-menu class="toolbar-menu" #account="matMenu">
      <button mat-menu-item (click)="logout()">
        <ion-icon name="exit-outline"></ion-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</ion-toolbar>

<!--<mat-toolbar id="header" color="primary" class="top-bar">
  <mat-toolbar-row class="mat-elevation-z8">
    <ion-icon size="large" (click)="navigateBackButton()" name="arrow-back-outline"></ion-icon>
    <div class="header-title">
      <div class="header-title">{{ title }}</div>
    </div>

    <span class="toolbar-spacer"></span>

    <div>
      <button mat-icon-button [matMenuTriggerFor]="account">
        <ion-icon size="large" name="person-circle-outline"></ion-icon>
      </button>
      <mat-menu #account="matMenu">
        <button mat-menu-item (click)="logout()">
          <ion-icon name="exit-outline"></ion-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>-->
