#divLineChart {
  margin: 50px 20px;
  width: 95%;
}
@media (max-width: 400px) {
  #divLineChart {
    margin: 50px 20px;
    width: 25%;
  }
}
@media (max-width: 600px) {
  #divLineChart {
    margin: 50px 20px;
    width: 40%;
  }
}
@media (max-width: 800px) {
  #divLineChart {
    margin: 50px 20px;
    width: 50%;
  }
}
@media (max-width: 1200px) {
  #divLineChart {
    margin: 50px 20px;
    width: 85%;
  }
}

.chart-selection {
  width: 50%;
  z-index: 25;
}

.chart-selection-input {
  margin: 0 10px;
  width: 70%;
}

.chart-selection-btn {
  margin: 0 10px;
}

.selection-panel {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.PieChart {
  margin: 0 25%;
}

.Datatable-chart {
  width: 100%;
}

#barchart {
  width: 1000px;
  height: 650px;
  margin: 30px auto;
}
