<div class="selection-panel">
  <div style="margin-top: 5px;" class="chart-selection">
    <form [formGroup]="form" (ngSubmit)="drawNewChart()">
      <mat-form-field class="chart-selection-input">
        <mat-label>Select visualization type</mat-label>
        <mat-select formControlName="chartType">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" class="chart-selection-btn" type="submit">
        Display!
      </button>
    </form>
  </div>

  <div id="Chart-Error-Modal">
    <mat-card *ngIf="displayChartErrorModal">
      <mat-card-title>No data for display was found for the choosen collection</mat-card-title>
      <mat-card-content>
        <p>We could not find valid data for the type of visualization you choose.</p>
        <p>
          Please make sure your collection contains data that fits your chart. If it does a problem on the database might be the reason your data does not get
          displayed.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="chart-selection" *ngIf="selectedType === 'Diversified-Donut (selection)' || selectedType === 'Line-Chart (number)'">
    <form [formGroup]="filterForm" (ngSubmit)="saveNewFilter()">
      <mat-form-field class="chart-selection-input">
        <mat-label>Select Filter</mat-label>
        <input matInput style="width: 100%" formControlName="DonutFilter" />
      </mat-form-field>
      <button mat-raised-button color="accent" class="chart-selection-btn" type="submit">Filter Data</button>
    </form>
  </div>

  <div *ngIf="selectedType === 'Line-Chart (number)'" id="divLineChart"></div>
  <div *ngIf="selectedType === 'Diversified-Donut (selection)' || selectedType === 'Yes/No-Donut (boolean)'" class="PieChart" id="divPieChart"></div>
  <div id="barchart"></div>
  <app-datatable-chart
    class="Datatable-chart"
    (noValidDataReceived)="displayChartError()"
    *ngIf="selectedType === 'Table-Chart (All)'"
    [activeCollection]="activeCollection"
  ></app-datatable-chart>
</div>
