<div class="selection-panel">
  <div style="margin-top: 5px;" class="chart-selection">
    <form [formGroup]="form" (ngSubmit)="drawNewChart()">
      <mat-form-field class="chart-selection-input">
        <mat-label>Select visualization type</mat-label>
        <mat-select matNativeControl formControlName="chartType">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" class="chart-selection-btn" type="submit">
        Display!
      </button>
    </form>
  </div>

  <div class="chart-selection" *ngIf="selectedType === 'Diversified-Donut (selection)'">
    <form [formGroup]="filterForm" (ngSubmit)="saveNewFilter()">
      <mat-form-field class="chart-selection-input">
        <mat-label>Select Filter</mat-label>
        <input matInput style="width: 100%" formControlName="DonutFilter" />
      </mat-form-field>
      <button mat-raised-button color="accent" class="chart-selection-btn" type="submit">Filter Data</button>
    </form>
  </div>

  <div *ngIf="selectedType === 'Line-Chart (number)'" id="divLineChart"></div>
  <div *ngIf="selectedType === 'Diversified-Donut (selection)' || selectedType === 'Yes/No-Donut (boolean)'" class="PieChart" id="divPieChart"></div>
  <app-datatable-chart class="Datatable-chart" *ngIf="selectedType === 'Table-Chart (All)'" [activeCollection]="activeCollection"></app-datatable-chart>
</div>
