#divLineChart {
  margin: 50px 20px;
  width: 95%;
}
@media (max-width: 400px) {
  #divLineChart {
    margin: 50px 20px;
    width: 25%;
  }
}
@media (max-width: 600px) {
  #divLineChart {
    margin: 50px 20px;
    width: 40%;
  }
}
@media (max-width: 800px) {
  #divLineChart {
    margin: 50px 20px;
    width: 50%;
  }
}
@media (max-width: 1200px) {
  #divLineChart {
    margin: 50px 20px;
    width: 85%;
  }
}
