<div class="selection-panel">
  <form class="chart-selection" [formGroup]="form" (ngSubmit)="drawNewChart()">
    <ion-item>
      <ion-label>Viz-Type:</ion-label>
      <ion-select class="ion-no-padding" formControlName="chartType">
        <ion-select-option *ngFor="let type of types" [value]="type">
          {{ type }}
        </ion-select-option>
      </ion-select>
      <ion-button color="primary" type="submit">
        Display!
      </ion-button>
    </ion-item>
  </form>

  <form class="chart-selection" [formGroup]="filterForm" (ngSubmit)="saveNewFilter()">
    <ion-item>
      <ion-label>Filter:</ion-label>
      <ion-input formControlName="DonutFilter"> </ion-input>
      <ion-button color="warning" type="submit">Filter Data</ion-button>
    </ion-item>
  </form>
</div>

<div id="Chart-Error-Modal">
  <ion-card *ngIf="displayChartErrorModal">
    <ion-card-header>
      <ion-card-title>No data for display was found for the choosen collection</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>We could not find valid data for the type of visualization you choose.</p>
      <p>
        Please make sure your collection contains data that fits your chart. If it does a problem on the database might be the reason your data does not get
        displayed.
      </p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="selectedType === 'Line-Chart (number)'" id="divLineChart"></div>
<div *ngIf="selectedType === 'Diversified-Donut (selection)'" class="PieChart" id="divPieChart"></div>
<div *ngIf="selectedType === 'Yea/No-Barchart (boolean)'" id="barchart"></div>
<app-datatable-chart
  class="Datatable-chart"
  (noValidDataReceived)="displayChartError()"
  *ngIf="selectedType === 'Table-Chart (All)'"
  [activeCollection]="activeCollection"
></app-datatable-chart>
