.collection-view-header {
  margin: 75px 20px 0 20px;
}

.header {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  :first-child {
    border-right: 2px solid black;
  }
}

.header-option {
  width: 49%;
  min-width: 400px;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}

.header-option:hover {
  cursor: pointer;
}

.dataView-active {
  background-color: #ffa801;
  color: black;
}
.dataTable-active {
  background-color: #1e3799;
  color: aliceblue;
}

.active-header {
  text-decoration: underline;
}

.enable-scroll {
  @media (max-width: 549px) {
    height: 84vh;
    overflow-y: scroll;
  }
}
