<div class="dialog">
  <button class="bottom-banner-button" mat-fab (click)="addNewDataset()"><i class="material-icons">add_circle_outline</i></button>
  <form [formGroup]="form" (ngSubmit)="createNewCollection()">
    <h1 mat-dialog-title>Create a new Collection</h1>
    <div mat-dialog-content class="dialog-content">
      <p>
        Enter the title of the collection.
        <input type="text" formControlName="collectionTitle" />
      </p>
      <div formArrayName="formArray" *ngFor="let arrayItem of arrayItems; let i = index" class="dataset-repeater">
        <input type="text" [formControl]="formArray.controls[i]" value="arrayItem.title" />
        <label [for]="arrayItem" class="array-item-title"> {{ arrayItem.dataType }}</label>
        <br />
      </div>
    </div>
    <div mat-dialog-actions class="action-buttons">
      <button mat-button type="submit">Save</button>
      <button mat-button type="button" (click)="discardChanges()">Discard All!</button>
    </div>
  </form>
</div>
