<div class="dialog">
  <ion-fab-button class="bottom-banner-button" (click)="addNewDataset()" color="danger"><ion-icon name="add"></ion-icon></ion-fab-button>
  <form [formGroup]="form" (ngSubmit)="createNewCollection()">
    <h1 mat-dialog-title style="text-align: center; margin-bottom: 0">Create a new Collection</h1>
    <div mat-dialog-content class="dialog-content">
      <ion-item>
        <ion-input placeholder="Enter the title of the collection" type="text" formControlName="collectionTitle"></ion-input>
      </ion-item>
      <div formArrayName="datasets" *ngFor="let arrayItem of arrayItems; let i = index" class="dataset-repeater">
        <input style="width: 50%" type="text" [formControl]="datasets.controls[i]" [value]="arrayItem.title" readonly />
        <label [for]="arrayItem" class="array-item-title"> {{ arrayItem.dataType }}</label>
        <br />
      </div>
      <mat-form-field class="collection-description">
        <mat-label>A detailed description of your goal.</mat-label>
        <textarea matInput formControlName="collectionDescription" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="action-buttons">
      <ion-button size="small" color="primary" type="submit">Save</ion-button>
      <ion-button size="small" color="warning" type="button" (click)="discardChanges()">Discard All!</ion-button>
    </div>
  </form>
</div>
