.addNewCollection-Btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.lib-accordion {
  margin: 100px 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.accordion-element {
  margin: 10px;
  width: 44%;
}

.accordion-element:hover {
  cursor: pointer;
}
