.dynamic-number-input {
  width: 85%;
  margin: 20px;
}

.dynamic-boolean-input {
  margin: 20px 50%;
}

.dynamic-selection-input {
  width: 80%;
  margin: 20px 50%;
}

.dialog-content {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
}

.dataset-repeater {
  width: 45%;
  text-align: center;
}

.action-buttons {
  text-align: center;
  button {
    margin: 0 20px;
  }
}
